h1{
    text-align:center;
    font-family: "Old English Text MT";
    background-color: #000000;
    color: #f8f9fa;
    padding: 20px;
}
p{
    top: 20px;
    font-style:italic;
    text-align: center;
}
.Hoodie{
    padding: 15px;
    border: 1px solid #000000;
}
.Pants{
    padding: 15px;
    border: 1px solid #000000;
}
.Subscription{
    padding: 15px;
    border: 1px solid #000000;
}











